body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

em {
  color: white;
}

/* HEADINGS */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  color: #000;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation baR */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 0;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
}

.container-fluid {
  padding: 7% 15%;
}

/* SECTIONS */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section */
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

/* Title Image */
.title-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

@media (max-width:1028px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* Features section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  line-height: 2;
}

.logo {
  color: #ef8172;
}

.logo:hover {
  color: #ff4c68;
}

/* Testimonials section */
.testimonials-heading {
  color: #fff;
}

#testimonials {
  background-color: #ef8172;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  padding: 5% 15%;
}

#footer {
  padding: 5% 2% 2%;
}

.social-icon {
  margin: 15px;
}
